<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular/angular.js"></script>
		<style>
			.box{
				width: 100px;
				height: 100px;
				background: red;
			}
		</style>
	</head>
	<body ng-app="" ng-init="arr=[1,2,3,4,5,6]">
		
		
		<input type="text" ng-model="val" />
		
		{{val}}
		
		<input type="checkbox" ng-model="isShow" />
		
		<div class="box" ng-if="isShow"></div>
		<div class="box" ng-show="isShow"></div>
		
		<ul>
			<li ng-repeat="item in arr">
				{{item}}
			</li>
		</ul>
		
		
		
		
	</body>
</html>
